.investment-result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--standard-side-paddings);
}

.investment-result__placeholder {
  font-family: var(--basic-font);
  font-size: 14px;
  color: var(--secondary-text);
}

.investment-result__table {
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

.investment-result__table thead {
  font-size: 13px;
  color: var(--green-bg-gradient-overlay);
}

.investment-result__table tbody {
  font-family: var(--basic-font);
  font-size: 14px;
  color: var(--secondary-text);
}
