:root {
  --basic-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --main-bg-gradient: radial-gradient(#303b37, #1a1f1d);
  --primary-text: #e1eeeb;
  --secondary-text: #8695a4;
}
