<form class="user-input container">

  <label class="user-input__lable" for="initial-investment">
    <span class="user-input__input-title">Initial Investment</span>
    <input class="user-input__input" type="number" id="initial-investment">
  </label>

  <label class="user-input__lable" for="annual-investment">
    <span class="user-input__input-title">Annual Investment</span>
    <input class="user-input__input" type="number" id="annual-investment">
  </label>

  <label class="user-input__lable" for="expected-return">
    <span class="user-input__input-title">Expected Return</span>
    <input class="user-input__input" type="number" id="expected-return">
  </label>

  <label class="user-input__lable" for="duration">
    <span class="user-input__input-title">Duration</span>
    <input class="user-input__input" type="number" id="duration">
  </label>

  <button class="user-input__submit-btn" type="button">Calculate</button>
</form>
